#traff {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

.light{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: auto;
    margin: auto;
    margin: 30px 100px;
    border-radius: 50%;

    
    background-color: gray;
    transition: background-color 0.5s;
}

p{
    margin: 100px;
    padding: auto;
    text-align: center;
}